apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: opendatahub
namePrefix: data-science-pipelines-operator-
resources:
  - ../crd
  - ../rbac
  - ../manager
  - ../prometheus
  - ../configmaps

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: dspo-parameters
    envs:
      - params.env
