apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: {{.APIServerDefaultResourceName}}
    component: data-science-pipelines
  name: {{.APIServerDefaultResourceName}}
  namespace: {{.Namespace}}
spec:
  endpoints:
    - path: /metrics
      port: prom-metrics
      scheme: https
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      tlsConfig:
        ca:
          configMap:
            name: ds-pipeline-proxy-ca-{{.Name}}
            key: service-ca.crt
        serverName: {{.APIServerServiceName}}.{{.Namespace}}.svc
  selector:
    matchLabels:
      app: {{.APIServerDefaultResourceName}}
      component: data-science-pipelines
