kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ds-pipeline-metrics-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: {{.APIServerDefaultResourceName}}
    component: data-science-pipelines
rules:
  - apiGroups:
      - datasciencepipelinesapplications.opendatahub.io
    resources:
      - datasciencepipelinesapplications/metrics
    resourceNames:
      - {{.Name}}
    verbs:
      - get
