apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.APIServerDefaultResourceName}}
  namespace: {{.Namespace}}
  labels:
    app: {{.APIServerDefaultResourceName}}
    component: data-science-pipelines
  {{- if .ServiceAccountAnnotations }}
  annotations:
    {{- range $key, $value := .ServiceAccountAnnotations }}
    {{ printf "%q" $key }}: {{ printf "%q" $value }}
    {{- end }}
  {{- end }}
