---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: mariadb-{{.Name}}
    component: data-science-pipelines
spec:
  replicas: 1
  strategy:
    type: Recreate  # Need this since backing PVC is ReadWriteOnce, which creates resource lock condition in default Rolling strategy
  selector:
    matchLabels:
      app: mariadb-{{.Name}}
      component: data-science-pipelines
  template:
    metadata:
      labels:
        app: mariadb-{{.Name}}
        component: data-science-pipelines
    spec:
      containers:
        - name: mariadb
          image: {{.MariaDB.Image}}
          ports:
            - containerPort: 3306
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - "-i"
                - "-c"
                - >-
                  MYSQL_PWD=$MYSQL_PASSWORD mysql -h 127.0.0.1 -u $MYSQL_USER -D
                  $MYSQL_DATABASE -e 'SELECT 1'
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3306
            timeoutSeconds: 1
          env:
            - name: MYSQL_USER
              value: "{{.DBConnection.Username}}"
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: "{{.DBConnection.CredentialsSecret.Key}}"
                  name: "{{.DBConnection.CredentialsSecret.Name}}"
            - name: MYSQL_DATABASE
              value: "{{.DBConnection.DBName}}"
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "true"
          resources:
            requests:
              cpu: {{.MariaDB.Resources.Requests.CPU}}
              memory: {{.MariaDB.Resources.Requests.Memory}}
            limits:
              cpu: {{.MariaDB.Resources.Limits.CPU}}
              memory: {{.MariaDB.Resources.Limits.Memory}}
          volumeMounts:
            - name: mariadb-persistent-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mariadb-persistent-storage
          persistentVolumeClaim:
            claimName: mariadb-{{.Name}}
