apiVersion: v1
kind: Secret
metadata:
  name: {{.DBPasswordSecret}}-{{.Name}}
  labels:
    app: mariadb-{{.Name}}
    component: data-science-pipelines
stringData:
  {{.DBPasswordSecretKey}}: {{.DBPassword}}
