apiVersion: v1
kind: Secret
metadata:
  name: {{.DBPasswordSecret}}
  namespace: {{.Namespace}}
  labels:
    app: mariadb-{{.Name}}
    component: data-science-pipelines
stringData:
  {{.DBPasswordSecretKey}}: {{.DBPassword}}
