apiVersion: v1
kind: Secret
metadata:
  name: mlpipeline-minio-artifact
  namespace: {{.Namespace}}
  labels:
    app: minio-{{.Name}}
    component: data-science-pipelines
stringData:
  host: "{{.MinioServiceServiceHost}}"
  port: "{{.MinioServiceServicePort}}"
  secure: "false"
data:
  accesskey: "{{.AccessKey}}"
  secretkey: {{.SecretKeyVal}}
