apiVersion: v1
kind: Secret
metadata:
  name: ds-pipelines-{{.Name}}-cookie-secret
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-{{.Name}}
    component: data-science-pipelines
data:
  cookie_secret: {{.APIServerOauthProxyCookieSecret}}
