apiVersion: v1
kind: ConfigMap
metadata:
    name: pipeline-server-config-{{.Name}}
    namespace: {{.Namespace}}
    labels:
        app: {{.APIServerDefaultResourceName}}
        component: data-science-pipelines
data:
    config.json: |
      {
        "DBConfig": {
          "DriverName": "mysql",
          "ConMaxLifeTime": "120s",
          "ExtraParams": {{ .DBConnection.ExtraParams }}
        },
        "InitConnectionTimeout": "6m"
      }
