apiVersion: v1
kind: Service
metadata:
  name: ds-pipeline-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-{{.Name}}
    component: data-science-pipelines
spec:
  ports:
    - name: http
      port: 8888
      protocol: TCP
      targetPort: https-oauth
  selector:
    app: ds-pipeline-{{.Name}}
    component: data-science-pipelines
