apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ds-pipeline-visualizationserver-{{.Name}}
    component: data-science-pipelines
    dspa: {{.Name}}
  name: ds-pipeline-visualizationserver-{{.Name}}
  namespace: {{.Namespace}}
spec:
  selector:
    matchLabels:
      app: ds-pipeline-visualizationserver-{{.Name}}
      component: data-science-pipelines
      dspa: {{.Name}}
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
      labels:
        app: ds-pipeline-visualizationserver-{{.Name}}
        component: data-science-pipelines
        dspa: {{.Name}}
    spec:
      containers:
      - image: gcr.io/ml-pipeline/visualization-server:2.0.0-rc.2  # TODO
        imagePullPolicy: IfNotPresent
        livenessProbe:
          exec:
            command:
            - wget
            - -q
            - -S
            - -O
            - '-'
            - http://localhost:8888/
          initialDelaySeconds: 3
          periodSeconds: 5
          timeoutSeconds: 2
        name: ds-pipeline-visualizationserver
        ports:
        - containerPort: 8888
          name: http
        readinessProbe:
          exec:
            command:
            - wget
            - -q
            - -S
            - -O
            - '-'
            - http://localhost:8888/
          initialDelaySeconds: 3
          periodSeconds: 5
          timeoutSeconds: 2
        resources:
          requests:
            cpu: 30m
            memory: 500Mi
      serviceAccountName: ds-pipeline-visualizationserver-{{.Name}}
