apiVersion: v1
kind: Secret
metadata:
  name: {{.S3CredentialsSecretName}}-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: minio-{{.Name}}
    component: data-science-pipelines
stringData:
  host: minio-{{.Name}}.{{.Namespace}}.svc.cluster.local
  port: "9000"
  secure: "false"
  accesskey: {{.AccessKey}}
  secretkey: {{.SecretKey}}
