apiVersion: v1
kind: ConfigMap
metadata:
    name: sample-config-testdsp6
    namespace: default
    labels:
        app: ds-pipeline-testdsp6
        component: data-science-pipelines
data:
    sample_config.json: |-
        [
          {
            "name": "[Demo] iris-training",
            "description": "[source code](https://github.com/opendatahub-io/data-science-pipelines/tree/master/samples/iris-sklearn) A simple pipeline to demonstrate a basic ML Training workflow",
            "file": "/samples/iris-pipeline-compiled.yaml"
          }
        ]
