apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ds-pipeline-scheduledworkflow-{{.Name}}
  labels:
    app: ds-pipeline-scheduledworkflow-{{.Name}}
    component: data-science-pipelines
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ds-pipeline-scheduledworkflow-{{.Name}}
subjects:
  - kind: ServiceAccount
    namespace: {{.Namespace}}
    name: ds-pipeline-scheduledworkflow-{{.Name}}
