apiVersion: apps/v1
kind: Deployment
metadata:
  name: ds-pipeline-scheduledworkflow-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-scheduledworkflow-{{.Name}}
    component: data-science-pipelines
spec:
  selector:
    matchLabels:
      app: ds-pipeline-scheduledworkflow-{{.Name}}
      component: data-science-pipelines
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
      labels:
        app: ds-pipeline-scheduledworkflow-{{.Name}}
        component: data-science-pipelines
    spec:
      containers:
        - env:
            - name: CRON_SCHEDULE_TIMEZONE
              value: "{{.ScheduledWorkflow.CronScheduleTimezone}}"
          image: "{{.ScheduledWorkflow.Image}}"
          imagePullPolicy: IfNotPresent
          name: ds-pipeline-scheduledworkflow
          command:
            - controller
            - "--logtostderr=true"
            - "--namespace={{.Namespace}}"
          livenessProbe:
            exec:
              command:
                - test
                - -x
                - controller
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 2
          readinessProbe:
            exec:
              command:
                - test
                - -x
                - controller
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 2
          resources:
            requests:
              cpu: {{.ScheduledWorkflow.ResourceRequirements.Requests.cpu}}
              memory: {{.ScheduledWorkflow.ResourceRequirements.Requests.memory}}
            limits:
              cpu: {{.ScheduledWorkflow.ResourceRequirements.Limits.cpu}}
              memory: {{.ScheduledWorkflow.ResourceRequirements.Limits.memory}}
      serviceAccountName: ds-pipeline-scheduledworkflow-{{.Name}}
