kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{.WebhookName}}
  namespace: {{.DSPONamespace}}
spec:
  podSelector:
    matchLabels:
      app: {{.WebhookName}}
      component: data-science-pipelines
  policyTypes:
    - Ingress
  ingress:
    - ports:
        - protocol: TCP
          port: 8443
