apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ds-pipeline-viewer-crd-binding-{{.Name}}
  namespace: {{.Namespace}}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ds-pipeline-viewer-controller-role-{{.Name}}
subjects:
- kind: ServiceAccount
  name: ds-pipeline-viewer-crd-service-account-{{.Name}}
  namespace: {{.Namespace}}
