kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{.PersistentAgentDefaultResourceName}}
  namespace: {{.Namespace}}
spec:
  podSelector:
    matchLabels:
      app: {{.PersistentAgentDefaultResourceName}}
      component: data-science-pipelines
  policyTypes:
    - Ingress
