apiVersion: v1
kind: ConfigMap
metadata:
    name: sample-config-testdsp2
    namespace: default
    labels:
        dsp-version: v2
        app: ds-pipeline-testdsp2
        component: data-science-pipelines
data:
    sample_config.json: |-
        [
          {
            "name": "[Demo] iris-training",
            "description": "[source code](https://github.com/opendatahub-io/data-science-pipelines-operator/blob/main/docs/example_pipelines/iris/iris-pipeline.py) A simple pipeline to demonstrate a basic ML Training workflow",
            "file": "/samples/iris-pipeline-compiled.yaml"
          }
        ]
