apiVersion: v1
kind: Secret
metadata:
  name: ds-pipelines-ui-{{.Name}}-cookie-secret
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-ui-{{.Name}}
    component: data-science-pipelines
data:
  cookie_secret: {{.MlPipelineUIOauthProxyCookieSecret}}
