apiVersion: apps/v1
kind: Deployment
metadata:
  name: ds-pipeline-viewer-crd-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-viewer-crd-{{.Name}}
    component: data-science-pipelines
spec:
  selector:
    matchLabels:
      app: ds-pipeline-viewer-crd-{{.Name}}
      component: data-science-pipelines
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
      labels:
        app: ds-pipeline-viewer-crd-{{.Name}}
        component: data-science-pipelines
    spec:
      containers:
        - image: "{{.ViewerCRD.Image}}"
          imagePullPolicy: Always
          name: ds-pipeline-viewer-crd
          command:
            - controller
            - "-logtostderr=true"
            - "-max_num_viewers={{.ViewerCRD.MaxNumViewer}}"
            - "--namespace={{.Namespace}}"
          livenessProbe:
            exec:
              command:
                - test
                - -x
                - controller
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 2
          readinessProbe:
            exec:
              command:
                - test
                - -x
                - controller
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 2
          resources:
            requests:
              cpu: {{.ViewerCRD.ResourceRequirements.Requests.cpu}}
              memory: {{.ViewerCRD.ResourceRequirements.Requests.memory}}
            limits:
              cpu: {{.ViewerCRD.ResourceRequirements.Limits.cpu}}
              memory: {{.ViewerCRD.ResourceRequirements.Limits.memory}}
      serviceAccountName: ds-pipeline-viewer-crd-{{.Name}}
