apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ds-pipeline-viewer-controller-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-viewer-crd-{{.Name}}
    component: data-science-pipelines
rules:
  - apiGroups:
      - '*'
    resources:
      - deployments
      - services
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - kubeflow.org
    resources:
      - viewers
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
