name: KinD DSPO/DSP Integration Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - go.mod
      - go.sum
      - controllers/**
      - api/**
      - config/**
      - tests/**
      - .github/resources/**
      - '.github/workflows/kind-integration.yml'
    types:
      - opened
      - reopened
      - closed
      - synchronize

concurrency:
  group: ${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  GIT_WORKSPACE: ${{ github.workspace }}

jobs:
  dspo-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.21.x'
        id: go

      - name: Setup and start KinD cluster
        uses: ./.github/actions/kind

      - name: Run test
        working-directory: ${{ github.workspace }}/.github/scripts/tests
        run: |
          sh kind-integration.sh
