name: Pre-commit
on:
  pull_request:
jobs:
  precommit:
    runs-on: ubuntu-latest
    container:
      image: quay.io/opendatahub/pre-commit-go-toolchain:v0.2
      env:
        XDG_CACHE_HOME: /cache
        GOCACHE: /cache/go-build
        GOMODCACHE: /cache/go-mod
        PRE_COMMIT_HOME: /cache/pre-commit
      volumes:
        - /cache
    steps:
      - uses: actions/checkout@v2
      - name: Activate cache
        uses: actions/cache@v2
        with:
          path: /cache
          key: ${{ runner.os }}-cache-${{ hashFiles('**/go.sum', '.pre-commit-config.yaml') }}
      - name: Run pre-commit checks
        run: pre-commit run --all-files
